@model ProfileModel
@{
    ViewData["Title"] = "Download";
}

<h2>Download</h2>
@if (String.IsNullOrEmpty(ViewBag.Message))
{
    <form asp-action="AddContact" method="post" class="form" id="profile-form">
        <div class="form-group">
            <label class="control-label">Email</label>
            <input asp-for="Email" class="form-control" maxlength="100" />
            <label class="control-label">Product</label>
            <input asp-for="Product" class="form-control" maxlength="100" />
        </div>
        <div class="form-group text-center signin-button">
            <button type="submit" class="btn button--blue" value="login">AddContact</button>
        </div>
    </form>
    <form asp-action="AddVisit" method="post" class="form" id="profile-form">
        <div class="form-group">
            <label class="control-label">Email</label>
            <input asp-for="Email" class="form-control" maxlength="100" />
        </div>
        <div class="form-group text-center signin-button">
            <button type="submit" class="btn button--blue" value="login">AddVisit</button>
        </div>
    </form>
    <form asp-action="AddVisitTest" method="post" class="form" id="profile-form">
        <div class="form-group">
            <label class="control-label">Email</label>
            <input asp-for="Email" class="form-control" maxlength="100" />
        </div>
        <div class="form-group text-center signin-button">
            <button type="submit" class="btn button--blue" value="login">AddVisitTest</button>
        </div>
    </form>
}
else
{
    <div>
        @ViewBag.Message
    </div> 
}
